/* GENERAL */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 1px red solid; */
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.body {
  margin: auto;
}

.top {
  display: flex;
  position: relative;
  background: url(assets/images/your_verse_hero_2x.jpg) 50% 100% no-repeat;
  background-size: 1440px 1315px;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
  padding: 75px;
  height: auto;
  flex-wrap: wrap;
}

/* NAVIGATION */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 980px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(#7b7b7b 0 50%, #5f5f5f 52% 67%, #757575);
}

.nav-container a {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
  text-decoration: none;
  height: 100%;
  line-height: 36px;
  border: 1px solid #5a5a5a;
  border-radius: 2px;
  text-align: center;
  min-width: 100px;
}

.nav-container a:hover {
  background-color: #393939;
}

.nav-container > :first-child {
  border-radius: 6px 0 0 6px;
}

.nav-container > :last-child {
  border-radius: 0 6px 6px 0;
}

.nav-container form {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  height: 36px;
  width: 130px;
  border: 1px gray solid;
}

.apple-icon {
  align-self: center;
  width: 18px;
  height: 20px;
}

#main-search img {
  margin: 6px 0 0 5px;
  position: absolute;
  height: 12px;
  width: 12px;
}

#main-search input {
  display: inline;
  margin-top: 2px;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  padding: 4px 22px;
  height: 16px;
  margin-bottom: 4px;
  font-size: 11px;
  border: none;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.2));
}

#main-search input:focus {
  outline: none !important;
  background: white;
  color: #393939;
}

/* HERO */

.hero > * {
  flex: 1 0 100%;
  text-align: center;
}

.hero h1 {
  margin: 100px 0 10px 0;
  font-size: 67px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}

.hero h2 {
  font-size: 30px;
  font-weight: 100;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 140px 0;
}

.hero-link a {
  font-size: 20px;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

.vid-icon {
  margin: 5px;
  height: 24px;
  width: 24px;
}

/* PROMOS */

.promos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin: 2px auto 15px auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

.promo-pic {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

/* FOOTER */

.footer-top p {
  color: #949494;
  font-size: 10px;
  line-height: 1.5;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 1440px;
  align-items: center;
  text-align: center;
  margin: auto;
}

.footer-top a {
  color: #0088ccd9;
  font-size: 10px;
  line-height: 1.5;
  text-decoration: none;
}

.footer-top li {
  display: inline;
  border-right: 0.5px solid #949494;
  padding: 5px;
}

.footer-top li:last-child {
  border: none;
}

.inline {
  display: inline;
}
